@model MovieCatalog.UI.Models.MovieEditVM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@{
   var movieID = ViewContext.RouteData.Values["id"];
}

@using (Html.BeginForm("Edit", "Movie", FormMethod.Post))
{
    @Html.HiddenFor(m=>m.MovieToEdit.MovieID, movieID)
    @Html.Label("Title")
    @Html.TextBoxFor(m => m.MovieToEdit.Title)
    <br />    <br />

    @Html.Label("Release Year")
    @Html.TextBoxFor(m => m.MovieToEdit.ReleaseYear)
    <br />    <br />
    @Html.Display("Actors In Movie", @Model.ActorsInMovie)


    <br />    <br />


    @Html.DropDownListFor(m=>m.MovieToEdit.GenreID,Model.Genres)

    <br />    <br />

    @Html.DropDownList("Actors Not In Movie", @Model.ActorsNotInMovie)

    <br />    <br />


    <input type="submit" value="Submit" class="btn btn-default" />


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
