@model MovieCatalog.UI.Models.MovieEditVM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@{
    var id = ViewContext.RouteData.Values["id"];
}

@using (Html.BeginForm())
{
    @Html.Hidden("MovieToEdit.MovieID", id)
    @Html.Label("Title")
    @Html.TextBoxFor(m => m.MovieToEdit.Title)
    <br/>
    @Html.Label("Release Year")
    @Html.TextBoxFor(m => m.MovieToEdit.ReleaseYear)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
